import { WkBox } from '@woodkit/core';

export interface Wk<%= className %>Props {
  children?: React.ReactNode;
}

export const Wk<%= className %>: React.FC<Wk<%= className %>Props> = ({ children }) => {
  return (
    <WkBox c="<%= tw %>">
      {children}
      <WkBox c="border">
        <%= constantName %>
      </WkBox>
    </WkBox>
  );
}

export default Wk<%= className %>;
